.chairman{

    position:relative;

    width:100%;

    min-height:561px;

    margin-top:10px;

    overflow:hidden;

}

.chairman-bg{

    position:absolute;

    inset:0;

    width:100%;

    height:100%;

    object-fit:cover;

    z-index:0;

}

.chairman .container{

    position:relative;

    z-index:2;

    min-height:561px;

    display:flex;

    justify-content:flex-end;
    align-items:center;

}