/* ==========================================================
   CONTENT
========================================================== */

.chairman-content{

    width:58%;

    max-width:720px;

    margin-left:auto;

}


/* ==========================================================
   TITLE
========================================================== */

.chairman-title{

    margin:0 0 35px;

    font-size:52px;

    font-weight:700;

    line-height:1.15;

    color:#1D2B4F;

}


/* ==========================================================
   TEXT
========================================================== */

.chairman-text{

    width:100%;

}

.chairman-text p{

    margin:0 0 22px;

    font-size:17px;

    line-height:2;

    color:#4B5563;

}

.chairman-text strong{

    font-weight:700;

    color:#1D2B4F;

}


/* ==========================================================
   SIGNATURE
========================================================== */

.chairman-sign{

    margin-top:45px;

    font-size:17px;

    line-height:1.8;

    color:#1D2B4F;

}

.chairman-sign strong{

    display:block;

    margin-bottom:6px;

    font-size:20px;

}