/* ==========================================
   GRID MENU
========================================== */

.grid-menu {

    padding: 10px;

    background: rgb(255, 255, 255);

    overflow-x: auto;

}

.grid-safe {

    width: 100%;

    max-width: 1920px;

}

.grid-wrapper {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 10px;

}

.grid-card {

    position: relative;

    width: 100%;

    aspect-ratio: 1 / 1;

    overflow: hidden;

}

.grid-card img {

    position: absolute;

    inset: 0;

    width: 100%;

    height: 100%;

    display: block;

    object-fit: cover;

    transition:
        opacity 0.35s ease,
        transform 1s ease;

}

body {
    outline: 10px solid rgb(255, 255, 255);
}

.img-default {

    opacity: 1;

}

.img-hover {

    opacity: 0;

}

.grid-card:hover .img-default {

    opacity: 0;

}

.grid-card:hover .img-hover {

    opacity: 1;

}

.grid-card a {

    display: block;

    position: relative;

    width: 100%;

    height: 100%;

}

.grid-card:hover img {

    transform: scale(1.02);

}