/* ==========================================================
   NAVBAR
   IKA SMAN 11 BANDUNG ANGKATAN 98
========================================================== */

/* ==========================================================
   NAVBAR
========================================================== */

.navbar{

    position:relative;

    width:100%;

    height:var(--navbar-height);

    background:var(--white);

    border-bottom:1px solid #e9e9e9;

    z-index:var(--z-navbar);

    overflow:visible;

}


/* ==========================================================
   CONTAINER
========================================================== */

.navbar-container{

    width:var(--container-width);

    height:100%;

    margin:0 auto;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:var(--navbar-gap);

}


/* ==========================================================
   LOGO
========================================================== */

.navbar-logo{

    position:relative;

    width:40px;

    height:var(--logo-height);

    display:flex;

    justify-content:center;

    align-items:center;

    flex-shrink:0;

}

.navbar-logo img{

    position:absolute;

    left:0;

    top:0;

    width:100%;

    height:100%;

    object-fit:contain;

    transition:opacity .25s ease;

}

/* Logo Default */

.logo-grey{

    opacity:1;

}

/* Logo Hover */

.logo-gold{

    opacity:0;

}

/* Hover */

.navbar-logo:hover .logo-grey{

    opacity:0;

}

.navbar-logo:hover .logo-gold{

    opacity:1;

}


/* ==========================================================
   MENU
========================================================== */

.navbar-menu{

    width:var(--navbar-menu-width);

    position:relative;

    display:flex;

    justify-content:space-between;

    align-items:center;


}

.navbar-menu > .nav-item > a{

    display:flex;

    align-items:center;

    justify-content:center;

    height:100%;

    line-height:1;

    font-family:var(--font-primary);

    font-size:var(--navbar-font-size);

    font-weight:var(--navbar-font-weight);

    color:var(--navbar-text);

    text-decoration:none;

    transition:color var(--transition-fast);

}

.nav-item:hover > a{

    color:var(--navbar-hover);

}

/* ==========================================================
   NAVBAR HOVER BRIDGE
========================================================== */

.navbar-menu::after{

    content:"";

    position:absolute;

    top:100%;

    left:0;

    width:100%;

    height:18px;

    background:transparent;

}

/* ==========================================================
   NAV ITEM
========================================================== */

.nav-item{

    position:relative;

    display:flex;

    align-items:center;

    height:100%;

}

/* ==========================================================
   HOVER BRIDGE
========================================================== */

.hover-bridge{

    position:absolute;

    left:0;

    top:13px;

    width:77px;

    height:14px;

    background:rgb(253, 2, 2) !important;

    opacity:.0;

    z-index:999999;

}

/* ==========================================================
   MEGA MENU
========================================================== */

.mega-menu{

    position:fixed;

    top:var(--navbar-height);

    left:0;

    width:100vw;

    height:320px;

    background:rgba(250,252,255,.82);

    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);

    border-bottom:1px solid rgba(255, 255, 255, 100);


    opacity:0;
    visibility:hidden;
    pointer-events:none;

    transform-origin:top center;

    transform:scaleY(.50);



    transition:
        opacity .22s ease,
        transform .42s cubic-bezier(.22,.61,.36,1),
        visibility .22s;

    z-index:999;

}

/* ==========================================================
   HOVER MEGA MENU
========================================================== */

.nav-item:hover .mega-menu,
body.mega-open .mega-menu{

    opacity:1;

    visibility:visible;

    pointer-events:auto;

    transform:
    scaleY(1)
    translateY(0);

}


/* ==========================================================
   ICON
========================================================== */

.mega-icon{

    width:204px;
    height:204px;

    object-fit:cover;
    flex-shrink:0;

    opacity:0;

    transform:translateY(-25px);

    filter:blur(10px);

    transition:
        opacity .45s ease,
        transform .55s cubic-bezier(.22,.61,.36,1),
        filter .45s ease;

    transition-delay:.20s;

}

.nav-item:hover .mega-icon,
body.mega-open .mega-icon{

    opacity:1;

    transform:translateY(0);

    filter:blur(0);

}

/* ==========================================================
   MEGA MENU CONTAINER
========================================================== */

.mega-menu-container{

    width:var(--container-width);

    height:100%;

    margin:0 auto;

    display:flex;

    align-items:flex-start;

    justify-content:flex-start;

    gap:60px;

    padding-top:50px;

    padding-left:180px;

}

/* ==========================================================
   MEGA TITLE
========================================================== */

.mega-title{

    margin-top:-5px;

    margin-bottom:27px;

    font-family:var(--font-primary);

    font-size:23px;

    font-weight:700;

    color:#1f2433;

    opacity:0;

    transform:translateY(-15px);

    transition:
        opacity .28s ease,
        transform .28s ease;

    transition-delay:.05s;

}

.nav-item:hover .mega-title,
body.mega-open .mega-title{

    opacity:1;

    transform:translateY(0);

}

/* ==========================================================
   MEGA MENU LINKS
========================================================== */

.mega-links{

    list-style:none;

    margin:0;

    padding:0;

}

.mega-links li{

    margin-bottom:11px;

    opacity:0;

    transform:translateY(-12px);

    transition:
        opacity .22s ease,
        transform .22s ease;

}

.nav-item:hover .mega-links li,
body.mega-open .mega-links li{

    opacity:1;

    transform:translateY(0);

}

.mega-links li:nth-child(1){

    transition-delay:.10s;

}

.mega-links li:nth-child(2){

    transition-delay:.15s;

}

.mega-links li:nth-child(3){

    transition-delay:.20s;

}

.mega-links li:nth-child(4){

    transition-delay:.25s;

}

.mega-links li:nth-child(5){

    transition-delay:.30s;

}

.mega-links li:nth-child(6){

    transition-delay:.35s;

}

.mega-links a{

    text-decoration:none;

    font-family:var(--font-primary);

    font-size:14px;

    font-weight:600;

    color:#1f2433;

    transition:.25s;

    display:block;

    text-align:left;

    justify-content:flex-start;

}

.mega-links a:hover{

    color:#ffffff;
}

/* ==========================================================
   MEGA CONTENT
========================================================== */

.mega-content{

    display:flex;

    flex-direction:column;

    margin-left:-13px;
}