/* ==========================================================
   TAGLINE
========================================================== */

.tagline{

    background:var(--white);

    padding:24px 0;

}


/* ==========================================================
   TAGLINE CONTENT
========================================================== */

.tagline-content{

    display:flex;

    justify-content:center;

    align-items:center;

}


/* ==========================================================
   TAGLINE IMAGE
========================================================== */

.tagline-image{

    display:block;

    width:100%;

    max-width:1920px;

    height:auto;

}